:root {
  --color-primary: hsl(160deg, 100%, 30%);
  --color-secondary-ligher: hsl(45deg, 100%, 50%);
  --color-secondary-darker: hsl(45deg, 100%, 40%);
  --color-gray-100: hsl(0deg, 0%, 100%);
  --color-gray-60: hsl(0deg, 0%, 60%);
  --color-gray-40: hsl(0deg, 0%, 40%);
  --color-gray-30: hsl(0deg, 0%, 30%);
  --color-gray-10: hsl(0deg, 0%, 10%);
  --color-gray-0: hsl(0deg, 0%, 0%);
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  color: var(--color-gray-10);
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.125rem;
}

/* Add styles here! */

h1,
h2 {
  color: var(--color-gray-0);
}

p {
  color: var(--color-gray-10);
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 24px;
}

strong {
  color: var(--color-primary);
}

header {
  padding-top: 128px;
  padding-bottom: 96px;
}

main {
  background-color: var(--color-gray-60);
  border-top: 8px solid var(--color-gray-40);
  min-height: 100%;
  padding-top: 96px;
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 700px;
  padding: 32px;
}

.intro-chunk {
  max-width: 350px;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.card {
  background-color: var(--color-gray-100);
  border-bottom: 8px solid var(--color-gray-40);
  margin-left: -32px;
  margin-right: -32px;
  padding: 32px;
  padding-top: 8px;
}

.indented-heading {
  background-color: var(--color-secondary-ligher);
  border-bottom: 8px solid var(--color-secondary-darker);
  font-size: 1.5rem;
  margin-left: -40px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 24px 40px;
  width: fit-content;
}

h1.title {
  font-size: 2rem;
  margin-bottom: 48px;
  margin-top: 0px;
}
